<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />

    <title>Document</title>
  </head>
  <body>
    {{>navbar}} {{!--Hero Section Starts --}}
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            {{!--Left side --}}
            <div
              class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column"
            >
              <h1>WE WILL HELP YOU TO</h1>
              <h1>GROW YOUR BUSINESS</h1>
              <p>
                We Are The Team Of
                <span class="bold-style"> Professional Developer 😃</span>
              </p>
              <button class="btn-style btn-danger">Read More</button>
            </div>
            {{!--Right side --}}
            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
              <figure>
                <img src="images/growth.svg" alt="herosection" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!--Hero Section Ends --}} {{!--About Us Starts --}}
    <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">grow your business with us</p>
          <div class="row">
            {{!--Left side --}}
            <div class="col-md-6 col-12 hero-text">
              <figure>
                <img src="images/about.svg" alt="aboutsection" />
              </figure>
            </div>

            {{!--Right side --}}
            <div
              class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column"
            >
              <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>

              <p>
                Welcome to My
                <span class="bold-style"> BUSINESS WEBSITE</span>, Your Number
                One Source For All Things. We're Dedicated To Giving You The
                Very Best Of Work. With A Focus on [Three Characteristics. ie.
                Dependability, Customer Service And Unqueness.]
              </p>
              <button class="btn-style btn-danger align-self-start">
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!--About Us Ends --}}
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
  </body>
</html>
<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading">grow your business with us</p>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="https://i.imgur.com/6NKPrhO.png" alt="setting" />
              </div>
              <h4>Settings</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services speedup">
              <div class="icon">
                <img src="https://i.imgur.com/6NKPrhO.png" alt="speedup" />
              </div>
              <h4>Speedup</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services privacy">
              <div class="icon">
                <img src="https://i.imgur.com/AgyneKA.png" alt="privacy" />
              </div>
              <h4>Privacy</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services backups">
              <div class="icon">
                <img src="https://i.imgur.com/vdH9LKi.png" alt="backups" />
              </div>
              <h4>Backups</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services ssl">
              <div class="icon">
                <img src="https://i.imgur.com/v6OnUqu.png" alt="ssl" />
              </div>
              <h4>SSL secured</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services database">
              <div class="icon">
                <img src="https://i.imgur.com/VzjZw9M.png" alt="database" />
              </div>
              <h4>Database</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.4276991223733!2d72.82831631484943!3d18.956709587156404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce3d014db4e3%3A0xbcaf6ad2921d3273!2s45-47%2C%20Ghoghari%20Mohalla%20St%2C%20Marine%20Lines%20East%2C%20Bhendi%20Bazaar%2C%20Bhuleshwar%2C%20Mumbai%2C%20Maharashtra%20400003!5e0!3m2!1sen!2sin!4v1612504532603!5m2!1sen!2sin"
    width="600"
    height="450"
    frameborder="0"
    style="border: 0"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
  ></iframe>
</section>

<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading">grow your business with us</p>

      <div class="row">
        <div class="col-md-6 col-12 mx-auto">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
              >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5 about-style" id="contactid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Contact Us</h1>
      <p class="text-center sub-heading">We will be happy to help you</p>

      <div class="row">
        <div class="col-md-6 col-12 mx-auto">
          <form action="/contact" method="POST">
            <div class="form-group">
              <label for="exampleInputName">Name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputName"
                placeholder="Full Name"
                name="name"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter your email"
                name="email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-group">
              <label for="exampleInputPhoneNumber">Phone</label>
              <input
                type="number"
                class="form-control"
                id="exampleInputPhoneNumber"
                placeholder="Phone Number"
                name="phone"
              />
            </div>

            <div class="form-group">
              <label for="exampleInputMessage">Message</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputMessage"
                placeholder="Message"
                name="message"
              />
            </div>

            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
              >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
